{{ 'section-pbr.css' | asset_url | stylesheet_tag }}
<div class="pbr-section">
    <div class="pbr-wrapper">
        <div class="pbr-absolute-image left">
            <img src="{{ section.settings.image | img_url: 'master' }}" alt="{{ section.settings.image.alt | escape }}">
        </div>
        <div class="pbr-absolute-image right">
            <img src="{{ section.settings.image | img_url: 'master' }}" alt="{{ section.settings.image.alt | escape }}">
        </div>
        <h3 class="h1 pbr-top-text">{{ section.settings.top_text }}</h3>
        <h2 class="h1 pbr-heading">{{ section.settings.heading }}</h2>
        <div class="pbr-boxes">
            
            {% assign box_num = section.settings.collection.all_products_count %}
            {% if request.path contains "products" %}
                {% assign box_num = box_num | minus: 1 %}
            {% endif %}

            {% for rec_product in section.settings.collection.products %}
                {% if request.path contains "products" and request.path contains rec_product.handle %}
                    {% continue %}  
                {% else %}
                    <div class="pbr-box-item" style="width: calc(100% / {{ box_num }});">
                        <a href="{{ rec_product.url | default: '#' }}">
                            <img src="{{ rec_product.featured_media | img_url: 'master' }}" loading="lazy" alt="{{ rec_product.featured_media.alt | escape }}">        
                            <h3 class="h1 pbr-box-item-title">{{ rec_product.title }}</h3>
                        </a>
                    </div>        
                {% endif %}
            {% endfor %}
        </div>
    </div>
</div>

{% schema %}
{
    "name": "Box recommendations",
    "tag": "section",
    "settings": [
        {
            "type": "collection",
            "id": "collection",
            "label": "Collection"
        },
        {
            "type": "text",
            "id": "heading",
            "label": "Heading",
            "default": "Browse our other boxes"
        },
        {
            "type": "text",
            "id": "top_text",
            "label": "Top text",
            "default": "Not sure?"
        },
        {
            "type": "image_picker",
            "id": "image",
            "label": "Image"
        }
    ],
    "presets": [
        {
            "name":"Box recommendations"
        }
    ]
}
{% endschema %}